/*General Page Styling*/
*, h1, h2, h3, h4, h5 {
    //font-family: 'Lato', sans-serif;
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    //font-family: 'Arimo', sans-serif;
}

a, .menu > li > a {
    color: tomato;
}

a:hover, .menu > li > a:hover {
    color: yellowgreen;
}

.icons {
    font-size: 4em;
    border-radius: 50%;
    border: 4px solid #0a4063;
    padding: .04em .24em;
}

.icons:hover {
    color: ghostwhite;
    border: 4px solid ghostwhite;
}

/*Nav Bar*/
.top-bar {
    position: fixed;
    width: 100%;
}

.top-bar {
    background-color: #0a4063;
    color: #FF7547;
}

/*About*/
#about {
    height: 100vh;
    padding: 8%;
    background-color: yellowgreen;
    color: #0a4063;
    text-align: center;
}

.abouttext {
    transform: translateY(50%);
}

/*Skills*/
#skills {
    height: 100vh;
    padding: 8%;
    background-color: #FF7547;
    color: #0a4063;
    font-size: 1.5em;
}

/*Projects*/
#projects {
    height: 100vh;
    padding: 8%;
    background-color: ghostwhite;
    color: #0a4063;
}

/*Footer*/
.footer {
    padding: 5%;
    background-color: #0a4063;
    color: yellowgreen;
}