/*General Page Styling*/
*, h1, h2, h3, h4, h5 {
    //font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    //font-family: 'Raleway', sans-serif;
    //font-family: 'Arimo', sans-serif;
}

a, .menu > li > a {
    color: #10102b;
}

a:hover, .menu > li > a:hover {
    color: white;
}

.fi-lightbulb {
    color: #c5f2b8;
}

.fi-monitor, .fi-wrench, .fi-pencil {
    color: #468289;
}

.icons {
    font-size: 4em;
    border-radius: 50%;
    border: 4px solid #468289;
    padding: .04em .24em;
}

/*Nav Bar*/
.top-bar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.top-bar {
    background-color: #4c4763;
    color: white;
}

/*About*/
#about {
    height: 100vh;
    padding: 8%;
    background-color: #468289;
    color: #73baa8;
    text-align: center;
}

.abouttext {
    transform: translateY(50%);
}

#myname {
    color: #c5f2b8;
}

/*Skills*/
#skills {
    height: 100vh;
    padding: 8%;
    background-color: #73baa8;
    color: #4c4763;
    font-size: 1.5em;
}

/*Projects*/
#projects {
    height: 100vh;
    padding: 8%;
    background-color: #97ba8f;
    color: #0a4063;
}

.thumbnail {
    border: 4px solid #468289;
    border-top-right-radius: 25%;
}

/*Footer*/
.footer {
    padding: 5%;
    background-color: #4c4763;
    color: #468289;
    font-size: 1.3em;
}